<div class="container my-5">
    <h2 class="text-center">Undirskriftir</h2>
</div>
<% if(signatures.length === 0) { %>
    <div class="container">
      <p class="row col villur">Engar undirskriftir</p>
    </div>
  <% } else { %>
    <div class="container">
        <table class="table">
        <tr class="row tb-row tb-header">
          <td class="col col-2"><strong>Dags</strong></td>
          <td class="col col-2"><strong>Nafn</strong></td>
          <td class="col col-7"><strong>Athugasemd</strong></td>
        </tr>
        <% signatures.forEach((signature) => { %>
          <% if (!signature.anonymous) { %>
            <tr class="row tb-row">
              <td class="col col-2"><%= signature.signed.toLocaleDateString() %></td>
              <td class="col col-2"><%= signature.name %></td>
              <td class="col col-7"><%= signature.comment %></td>
            </tr>
            <% } else { %>
              <tr class="row tb-row">
                <td class="col col-2"><%= signature.signed.toLocaleDateString() %></td>
                <td class="col col-2">Nafnlaus</td>
                <td class="col col-7"><%= signature.comment %></td>
              </tr>
            <% } %>
        <% }); %>
        </table>
    </div>
  <% } %>